<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.4.0" targetFramework="net472" />
  <package id="IronPdf.Native.Chrome.Windows" version="2022.9.9049" targetFramework="net472" />
  <package id="IronPdf.Slim" version="2022.9.9056" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.BootstrapIcons" version="4.11.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.BoxIcons" version="4.11.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.Material" version="4.11.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.Modern" version="4.11.0" targetFramework="net472" />
  <package id="MahApps.Metro.IconPacks.VaadinIcons" version="4.11.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net472" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net472" />
  <package id="PixiEditor.ColorPicker" version="3.3.1" targetFramework="net472" />
</packages>